<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
	
		<title>Brewer</title>
	
		<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/vendors.min.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/algaworks.min.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/application.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/brewer.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/upload.min.css}"/>
		
		<link rel="shortcut icon" th:href="@{/images/favicon.png}"/>
	</head>

	<body>
		<div class="aw-layout-page">
			<div th:replace="fragmentos/header :: header"></div>
			
			<div th:replace="fragmentos/sidebar :: sidebar"></div>
			
			<section class="aw-layout-content js-content" layout:fragment="content"></section>
			
			<div th:replace="fragmentos/footer :: footer"></div>
				
			<script th:src="@{/layout/javascripts/vendors.min.js}"></script>
			<script th:src="@{/layout/javascripts/algaworks.min.js}"></script>
			<script th:src="@{/javascripts/vendors/jquery.maskMoney.min.js}"></script>
			<script th:src="@{/javascripts/vendors/bootstrap-switch.min.js}"></script>
			<script th:src="@{/javascripts/vendors/uikit.min.js}"></script>
			<script th:src="@{/javascripts/vendors/upload.min.js}"></script>
			<script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>
			<script th:src="@{/javascripts/brewer.js}"></script>
			
			<th:block layout:fragment="javascript-extra"></th:block>
		</div>
	</body>
</html>