<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator=index
    xmlns:brewer="http://brewer.algaworks.com">
    
	<head>
		<title>Brewer - Pesquisa de Cerveja</title>
	</head>

	<body>	
		<section class="aw-layout-content js-content" layout:fragment="content">
			<div class="page-header">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-10">
							<h1>Pesquisa de Cerveja</h1>						
						</div>
						
						<div class="col-sm-2">
							<div class="aw-page-header-controls">
								<a class="btn btn-default" th:href="@{/cervejas/novo}">
									<i class="glyphicon glyphicon-plus-sign"></i>
									<span class="hidden-xs hidden-sm">Incluir cerveja</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="container-fluid">						
				<form method="GET">
					<div class="row">
						<div class="form-group col-sm-2">
							<label for="sku" class="control-label">SKU</label>
							<input id="sku" type="text" class="form-control" autofocus="autofocus">
						</div>
						
						<div class="form-group col-sm-4">
						
						</div>
					</div>
				</form>
			</div>
		</section>
	</body>
</html>